<link rel="stylesheet" href="/css/footer.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="fot-con">
  <div class="container-fluid" id="foot">
    <a class="navbar-brand" href="#"> Codeial<>: All rights reserved 2022 </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav">
          <li class="nav-item">
            
          </li>
        </ul> -->
    </div>
  </div>
</nav>
