<link rel="stylesheet" href="/css/header.css" />
<nav class="navbar navbar-expand-lg bg-primary text-white" id="head-con">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white"> Codeial <> </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" style="text-decoration: none; color: black">Home</a>
        </li>
      </ul>
    </div>

    <div id="siout">
      <% if(locals.user){%>
      <a href="/users/profile"><%= user.name %></a>
      <%} %>
    </div>
    <div id="siout">
      <% if(locals.user){%>
      <a href="/users/sign-out">Sign out</a>
      <%} %>
    </div>
  </div>
</nav>
