<link rel="stylesheet" href="/css/home.css" />
<h1>Codeial | <%= title%></h1>
<hr />
<div id="det">
  <p>New User? <a href="/users/sign-up">Sign-up</a></p>
  <p>Already have an account? <a href="/users/sign-in">Sign-in</a></p>
</div>
<div id="logo"></div>
